<template>
    <div class="details">
            <div class="container">
              <div class="row detail-mov">
                <div class="col-md-12" v-for="(movie, index) in movies" :key="index">
                  <div v-if="proId == movie.id">
                    <h3 class="now-play">Now Playing</h3>
                    <div class="row">
                    <div class="col-md-4">
                      <img :src="movie.image" class="img-thumbnail">
                    </div>
                      <div class="col-md-6">
                      <h2>{{ movie.title }}</h2>
                      <div class="a">
                        <span class="badge badge-pill badge-warning margin-pill">{{ movie.duration }}</span>
                      </div>
                        <p class="content">Released Year : {{movie.release}}</p>
                        <h4>Sinopsis</h4>
                        <p class="desc">{{movie.desc}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <iframe width="560" height="315" src= {{ movie.link }} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            </div>
            <!-- <h1>id : {{ this.$route.params.Pid }}</h1> -->
    </div>
</template>
<script>
export default {
  name: 'detail',
  data () {
    return {
      proId: this.$route.params.Pid,
      title: 'Detail',
      movies: [
        {
          title: 'Riki Rhino',
          image: require('../assets/3.jpg'),
          duration: '92 minutes',
          director: 'Erwin Budiono',
          release: 2020,
          desc: 'Riki adalah Badak Sumatera muda yang kehilangan culanya, setelah diambil oleh pemburu Mr. Jak. Untuk mendapatkan kembali cula yang telah dicuri, Riki memulai petualangan seru bersama Beni. Riki kemudian mendapatkan cula dengan kekuatan tersembunyi yang diperoleh dari hewan yang diselamatkannya. Kekuatan ini membuat Riki mampu melakukan keahlian hewan lain dalam waktu tertentu. Film Riki Rhino merupakan karya terbaru Batavia Pictures, melanjutkan kesuksesan enam film animasi Petualangan Singa Pemberani sebelumnya.',
          id: 1
        },
        {
          title: 'The Invisible Man (IMAX 2D)',
          image: require('../assets/1.jpg'),
          duration: '124 minutes',
          director: 'Leigh Whannell',
          release: 2020,
          desc: 'Cecilia Kass (Elisabeth Moss) tidak pernah percaya bahwa mantan kekasihnya yang tempramental bunuh diri dan meninggalkan warisan kepadanya.',
          id: 2
        },
        {
          title: 'The Invisible Man',
          image: require('../assets/2.jpg'),
          duration: '124 minutes',
          director: 'Leigh Whannell',
          release: 2020,
          desc: 'Cecilia Kass (Elisabeth Moss) tidak pernah percaya bahwa mantan kekasihnya yang tempramental bunuh diri dan meninggalkan warisan kepadanya.',
          id: 3
        },
        {
          title: 'Sonic the Hedgehog',
          image: require('../assets/4.jpg'),
          duration: '99 minutes',
          director: 'Jeff Fowler',
          release: 2020,
          desc: 'Setelah menemukan landak kecil berwarna biru dan berlari sangat cepat, Tom Wachowski (James Marsden) seorang perwira polisi kota kecil harus membantunya mengalahkan Dr. Ivo Robotnik (Jim Carrey) yang ingin melakukan percobaan kepada landak tersebut.',
          id: 4
        }
      ]
    }
  }
}
</script>
<style>
  .a
  {
    margin-top: 10px;
  }
  .desc
  {
    text-align: left;
  }
  p, h1, h2, h3, h4
  {
    color: #240f02;
  }
  .now-play
  {
    color: rgb(179, 179, 179);
  }
</style>
