<template>
  <div id="app">
    <HelloWorld/>
      <router-link to="/"></router-link>
      <router-link to="/detail/:Pid"></router-link>
    <router-view/>
    <div class="container-fluid kaki">
      <Footer/>
    </div>
  </div>
</template>
<script>

import HelloWorld from './components/HelloWorld'

export default {
  name: 'App',
  components: { HelloWorld }
}
</script>

<style>

</style>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #d8c5a8;
}

#nav a.router-link-exact-active {
  color: #d3ac87;
}
  p, h1, h2, h3, h4
  {
    color: #251803;
  }
  .kaki {
    margin-top: 30px;
    text-align: center;
    height: auto;
    width: 50%;
    padding: 10px;
  }
</style>
